.main {
  .all-box {
    width: 95%;
    .tittle-main {
      text-align: right;
      .tab {
        margin: 3px 0 7px 0;
        transition: all 0.3s ease-in-out;
        i {
          font-size: 15px;
          color: #444;
          margin-left: 7px;
        }
        .fa.fa-bookmark {
          font-size: 13px;
        }
        .link-tittle-main {
          font-size: 15px;
          font-family: nassim-bold;
          color: #666;

          p {
            display: inline-block;
          }
          span {
            float: left;
            margin-top: 1px;
            font-size: 20px;
          }

          &:hover {
            color: #b71818;
          }
        }
      }
      #tab:hover {
        padding-right: 6px;
      }
      #tab:hover .fa.fa-bookmark {
        color: #b71818;
      }
    }

    .noroz {
      .link-noroz {
        img {
          height: 525px;
          width: 296px;
        }
      }
    }

    /* box news */
    .box-news {
        text-align: right;
      .ul-box-news {
        border: solid #dfdfdd;
        border-width: 0 0 1px 1px;
        background: #fff;
        border-top: 3px solid #0040ad;
        .list-item-box-news {
          border-bottom: 1px solid #dfdfdd;
          margin: 0px 12px;
          overflow: hidden;
          padding: 7px 0px;

          .link-box-news {
            padding-top: 7px;

            .contact-info {
              color: #222;
              h3 {
                font-weight: normal;
                font-size: 15px;
                font-family: "nassim";
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &::before {
                  color: #0040ad;
                  font-family: FontAwesome;
                  display: inline-block;
                  content: "\f111";
                  font-size: 9px;
                  line-height: 1;
                  position: relative;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
