.main {
  .all-box {
    width: 95%;
    .tittle-main {
      text-align: right;
      #tab {
        margin-right: -6px;
      }
      .tab {
        margin: 4px 0 7px 0;
        transition: all 0.3s ease-in-out;
        i {
          font-size: 15px;
          color: #444;
          margin-left: 5px;
        }
        .fa.fa-bookmark {
          font-size: 13px;
          margin-right: 4px;
        }
        .link-tittle-main {
          font-size: 15px;
          font-family: nassim-bold;
          color: #666;
          .strong-sar {
            font-size: 16px;
            font-family: nassim-bold;
            color: #0040ad;
          }
          .p-style-3 {
            color: #333;
            font-family: "nassim";
            font-size: 17px;
            &:hover {
              color: #b71818;
            }
          }
        }

        p {
          display: inline-block;
        }
        span {
          float: left;
          margin-top: 2px;
          font-size: 20px;
        }
      }
      .p-style {
        color: #444;
        &:hover {
          color: #b71818;
        }
      }
      #tab:hover {
        padding-right: 6px;
      }
      #tab:hover .fa.fa-bookmark {
        color: #b71818;
      }
    }

    /* slide show */
    .slideshow {
      width: 606px;
      height: 390px;
      margin-right: -14px;
      .link-content-box {
        display: block;
        position: relative;
        border: 1px solid #dfdfdd;
        border-right: none;
        background: #fff;
        padding: 3px;

        .content-box-img {
          position: relative;
          overflow: hidden;

          .content-image {
            width: 100%;
            transition: all 0.9s ease-in-out;

            &:hover {
              transform: scale(1.02);
            }
          }

          &::before {
            background: -webkit-linear-gradient(
              90deg,
              rgba(0, 0, 0, 0.95) 30%,
              rgba(0, 0, 0, 0) 100%
            );
            background: -moz-linear-gradient(
              90deg,
              rgba(0, 0, 0, 0.95) 30%,
              rgba(0, 0, 0, 0) 100%
            );
            background: -o-linear-gradient(
              90deg,
              rgba(0, 0, 0, 0.95) 30%,
              rgba(0, 0, 0, 0) 100%
            );
            background: -ms-linear-gradient(
              90deg,
              rgba(0, 0, 0, 0.95) 30%,
              rgba(0, 0, 0, 0) 100%
            );
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.95) 30%,
              rgba(0, 0, 0, 0) 100%
            );
            content: "";
            height: 83px;
            position: absolute;
            width: 100%;
            z-index: 1;
            bottom: 0;
          }
        }
        .content-box-info {
          position: absolute;
          bottom: 3px;
          left: 3px;
          right: 3px;
          color: #fff;
          padding: 20px;
          z-index: 1;
          text-align: right;
          font-family: nassim;

          h3 {
            padding: 0;
            margin: 0 0 6px;
            font-size: 17px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          h2 {
            padding: 0;
            margin: 0;
            font-size: 30px;
            font-weight: bold;
            border-bottom: 2px solid transparent;
            display: inline-block;
          }
        }
        .badge-style {
          position: absolute;
          top: 13px;
          right: 13px;
          border-radius: 0;
          padding: 5px 8px 4px;
          z-index: 2;
          font-family: nassim-bold;
          font-size: 13px;
          color: #fff;
          background: #0040ad;
        }
      }

      /* little box in main */
      .link-content-little-box {
        display: flex;
        background: #fff;
        align-items: center;
        padding: 12px;
        max-height: 100px;
        overflow: hidden;
        border: 1px solid #dfdfdd;
        border-right: none;
        border-top: none;
        background: #fff;
        .content-little-box-img {
          overflow: hidden;
          width: 55%;
          .content-image {
            width: 100%;
            transition: all 0.9s ease-in-out;
          }
        }
        .content-box-info {
          color: #222;
          padding-right: 8px;
          text-align: right;
          font-family: nassim;

          h3 {
            padding: 0;
            margin: 0 0 6px;
            font-size: 15px;
            color: #555;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          h2 {
            padding: 0;
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            font-family: nassim;
            border-bottom: 2px solid transparent;
          }
          .n-margin-h2 {
            margin-top: -30px;
          }
        }

        &:hover h3 {
          color: #b71818;
        }
        &:hover h2 {
          color: #b71818;
        }
        &:hover .content-image {
          transform: scale(1.03);
        }
      }
    }
    .noroz {
      max-height: 497px;
      overflow: hidden;
      .link-noroz {
        img {
          height: 525px;
          width: 296px;
        }
      }
    }

    /* box news */
    .box-news {
      text-align: right;
      width: 101.8%;
      margin-right: -4px;
      .ul-box-news {
        border: solid #dfdfdd;
        border-width: 0 0 1px 1px;
        background: #fff;
        border-top: 3px solid #0040ad;
        margin-left: 3px;
        .list-item-box-news {
          border-bottom: 1px solid #dfdfdd;
          margin: 0px 12px;
          overflow: hidden;
          padding: 7px 0px;

          .link-box-news {
            padding-top: 7px;

            .contact-info {
              color: #222;
              h3 {
                font-weight: normal;
                font-size: 15px;
                font-family: "nassim";
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &::before {
                  color: #0040ad;
                  font-family: FontAwesome;
                  display: inline-block;
                  content: "\f111";
                  font-size: 9px;
                  line-height: 1;
                  position: relative;
                  margin-left: 5px;
                  font-size: 8px;
                }
                &:hover {
                  color: #b71818;
                }
              }
            }
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  /* slide show wrapper (the last) */
  .slideshow-wrapper {
    margin-right: -8px;

    .navbar-wrapper {
      // margin-bottom: 5px;
      margin: 17px 0;
      .ul-wrapper {
        .list-item-wrapper {
          width: 1%;
          display: table-cell;
          span {
            color: #777;
            font-size: 19px;
            font-family: "nassim-bold";
            padding-top: 0;
            margin: 0 5px;
            display: block;
            cursor: pointer;

            &::before {
              content: "";
              display: block;
              width: 100%;
              height: 6px;
              background: rgb(197, 197, 197);
              margin-bottom: 9px;
            }
          }

          /* hover span and ::befor */
          .span-1:hover {
            color: #b22222;
          }
          .span-1:hover::before {
            background: #b22222;
          }
          .span-2:hover {
            color: #3300cc;
          }
          .span-2:hover::before {
            background: #3300cc;
          }
          .span-3:hover {
            color: #0040ad;
          }
          .span-3:hover::before {
            background: #0040ad;
          }
          .span-4:hover {
            color: #7b68ee;
          }
          .span-4:hover::before {
            background: #7b68ee;
          }
          .span-5:hover {
            color: #ba55d3;
          }
          .span-5:hover::before {
            background: #ba55d3;
          }
          .span-6:hover {
            color: #ff8c00;
          }
          .span-6:hover::before {
            background: #ff8c00;
          }
          .span-7:hover {
            color: #f08080;
          }
          .span-7:hover::before {
            background: #f08080;
          }
          .span-8:hover {
            color: #006600;
          }
          .span-8:hover::before {
            background: #006600;
          }
        }
      }
    }
  }

  /* All secend main */
  .row-gold-price {

    /* the right box of gold , price and news */
    .section-group {
      .section-tittle {
        margin-bottom: 7px;

        .link-section-left {
          border-radius: 0 0 2px 2px;
          background-color: #e8e8e8;
          color: #666;
          font-family: yekan;
          font-size: 11px;
          line-height: 1;
          padding: 2px 10px 5px;
          margin-bottom: -2px;
          float: left;
          position: relative;
          bottom: -4px;
        }
        h3 {
          color: #444;
          margin: 0;
          font-size: 15px;          
          .link-section-right {
            color: #444;
            font-size: 15px;
            font-family: nassim-bold;
            .fa.fa-diamond {
              margin-left: 7px;
              font-size: 16px;
              top: 2px;
              position: relative;              
            }
          }
        }
      }

      .tabpanel {
        .ul-panel {

          padding: 0;
          .list-item-tabpanel {
            width: 50%;
            .link-panel-2 , .link-panel-1{
              display: inline-block;
              font-size: 16px;
              font-family: nassim;
              color: #4e4e4e;
              padding: 10.5px 0px;
              border-radius: 0;
              background: #f8f8f8;
              border-top: 3px solid #c00 ;
              box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.36), inset 0 0 8px 1px rgba(165, 164, 164, 0.5);
              width: 100%;
              text-align: center;
            }
            .link-panel-1 {
              border-color: #ff3131 ;
              box-shadow: none;
              background: #f2f2f2;
            }
          }
        }
      }
    }
  }
  
}
