body {
  direction: rtl;
  background: #f2f2f2;
}
.container {
  max-width: 1269px;
}

@font-face {
  font-family: fa-solid;
  src: url(../font/fa-solid-900.ttf);
}
@font-face {
  font-family: fontawesome;
  src: url(../font/fontawesome-webfont.ttf);
}
@font-face {
  font-family: nassim-bold;
  src: url(../font/nassim-bold.ttf);
}
@font-face {
  font-family: nassim;
  src: url(../font/nassim-normal.ttf);
}
@font-face {
  font-family: yekan;
  src: url(../font/yekan-normal.ttf);
}
// .col-4 {
//   padding: 0 0 0 16px;

// }

i {
  // font: normal normal normal 14px/1 fontawesome;
  font-size: 11px;
  font-family: "FontAwesome";
  position: relative;
  bottom: -1px;
}
a {
  text-decoration: none;
}
.world-img {
  padding-right: 5.3%;
  height: 80px;
  margin-bottom: 1px;
}
.container-fluid {
  background: #fff;
}
.dropdown-row {
  margin: 0px;
  padding: 0px 13px 0 0px;
  margin-left: -3px;
}
.dropdown-col-4 {
  padding: 10px;
}
.mix-padding-right {
  padding-right: 1.8%;
  padding-left: 1.3%;
}

.col-4 , .col-3 , .col-6{
  padding-left: 8px;
  padding-right: 8px;
}
.no-padding-little-box {
  padding: 0;
  width: 46.5%;
  margin-right: 15px;
  margin-top: 7px;
}



/* شروع باکس حاوی اخبار فرهنگ */
.news-box {
  text-align: right;

  .ul__news-box {
    border: solid #dfdfdd;
    border-width: 0 0 1px 1px;
    background: #fff;
    border-top: 3px solid #0040ad;
    margin-left: 3px;

    .list-item__news-box {
      margin: 0px 12px;

      .link__news-box {
        color: #222;
        font-weight: normal;
        font-size: 15px;
        font-family: "nassim";
        border-bottom: 1px solid #dfdfdd;
        display: inline-block;
        padding: 7.7px 0;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &::before {
          color: #0040ad;
          font-family: FontAwesome;
          display: inline-block;
          content: "\f111";
          font-size: 9px;
          line-height: 1;
          position: relative;
          margin-left: 5px;
          font-size: 8px;
        }
        &:hover {
          color: #b71818;
        }
      }
      &:last-child .link__news-box {
        border-bottom: none;
      }
    }
  }
}
/* پایان باکس حاوی اخبار فرهنگ */

/*شروع عنوان باکس های کوچیک */
.section-tittle {
  margin-bottom: 7px;

  .link__section-tittle {
    border-radius: 0 0 2px 2px;
    background-color: #e8e8e8;
    color: #666;
    font-family: yekan;
    font-size: 11px;
    line-height: 1;
    padding: 2px 10px 5px;
    margin-bottom: -2px;
    float: left;
    position: relative;
    bottom: -4px;
    &:hover {
      background: #555;
      color: #fff;
    }
  }
  h3 {
    color: #444;
    margin: 0;
    font-size: 15px;

    .link-h3__section-tittle {
      color: #444;
      font-size: 15px;
      font-family: nassim-bold;
      transition: all 0.3s ease-in-out;

      i {
        margin-left: 7px;
        font-size: 16px;
        top: 2px;
        position: relative;
      }
    }
  }
}
/* پایان عنوان باکس های کوچیک */

/* شروع دو باکس کوچک زیر عکس فرهنگ  */
.little-box-info {
  background: #fff;
  align-items: center;
  padding: 12px;
  max-height: 100px;
  overflow: hidden;
  border: 1px solid #dfdfdd;
  border-right: none;
  border-top: none;
  position: relative;
  display: block;

  .img-little-box-content {
    overflow: hidden;
    float: right;

    .image-little-box {
      width: 100%;
      transition: all 0.9s ease-in-out;
    }
  }
  .box-info-content {
    color: #222;
    padding-right: 8px;
    text-align: right;
    font-family: nassim;
    overflow: hidden;

    h3 {
      padding: 0;
      margin: 0 0 3px;
      font-size: 15px;
      color: #555;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    h2 {
      padding: 0;
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      font-family: nassim;
      border-bottom: 2px solid transparent;
      line-height: 1.34;
    }
    .h2__padding-top {
      padding-bottom: 22px;
    }
  }

  &:hover h3 {
    color: #b71818;
  }
  &:hover h2 {
    color: #b71818;
  }
  &:hover .image-little-box {
    transform: scale(1.03);
  }
}
/* پایان دو باکس کوچک زیر عکس فرهنگ */

/*  شروع باکس خبری حاوی منو */
.news-menu-box {
  margin-top: 18px;
  .news-menu-box-header {
    border-top: 3px solid #555;
    padding: 1px 0 10px;
    display: flex;
    justify-content: space-between;

    .news-box-right {
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;

      .news-menu-box-header-tittle {
        .link__news-menu-box-tittle {
          color: #483d8b;
          font-family: nassim-bold;
          font-size: 20px;

          i {
            font-size: 16px;
            margin-left: 8px;
            position: relative;
            bottom: -2px;
          }
        }
        i {
          font-size: 14px;
          margin: 0 7px;
          position: relative;
          bottom: -2px;
          color: #483d8b;
        }
      }

      /* منو باکس خبری */
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header {
            color: #333;
            font-size: 17px;
            font-family: "nassim";
            padding: 10px 8px;
          }
        }
      }
    }


    /* ایکون تنظیمات */
    .sittings {
      display: flex;
      margin-top: 5px;
      .sitting-box {
        a {
          color: #666;
          padding: 6px 14.5px 8px;
          background: #e0e0e0;
          margin-right: 6px;
          display: inline-block;

          i {
            font-size: 16px;
          }

          &:hover {
            background: #333;
            color: #fff;
          }
        }
        .rss-orang-color:hover {
          background: #f90;
        }
      }
    }
  }

  /* اولین و آخرین ستون حاوی یک عکس با یک متن در زیر آن */
  .news-menu-box-default-right-or-left {
    display: block;
    border: solid #dfdfdd;
    border-width: 0 0 1px 1px;
    background: #fff;
    padding: 3px;

    .default-right-img {
      overflow: hidden;
      position: relative;

      img {
        transition: all 0.9s ease-in-out;
        width: 100%;
      }
    }
    .content-box-info {
      color: #222;
      padding: 10px;
      height: 97px;
      overflow: hidden;

      h3 {
        margin: 0 0 3px;
        padding: 0;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: nassim;
        color: #555; 
      }
      h2 {
        margin: 0;
        font-size: 23px;
        font-family: nassim-bold;
      }
    }
    &:hover img {
      transform: scale(1.02);
    }
  }

  /* سه باکس خبری در یک ستون */
  .ul__little-box-info {
    background: #fff;
    border: solid #dfdfdd;
    border-width: 0 0 1px 1px;

    .list-items__little-box-info {
      padding: 0 12px;

      .little-box-info {
        border-left: none;
        padding-left: 0;
        padding-right: 0;

        .img-little-box-content {
          position: relative;
          .image-little-box {
            transform: scale(1);
          }
        }

      }

      .the-last-little-box {
        border: none;
      }
    }
  }

  /* باکس حاوی خبرهای تک خطی */
  .ul__news-box {
    border-top: none;
    margin: 0;
    .link__news-box {
      padding: 8px 0 !important;
    }
  }

  &:hover .news-box-right {
    margin-right: 5px;
  }
}
/*  پایان باکس خبری حاوی منو */
