@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  direction: rtl;
  background: #f2f2f2;
}

.container {
  max-width: 1269px;
}

@font-face {
  font-family: fa-solid;
  src: url(../font/fa-solid-900.ttf);
}
@font-face {
  font-family: fontawesome;
  src: url(../font/fontawesome-webfont.ttf);
}
@font-face {
  font-family: nassim-bold;
  src: url(../font/nassim-bold.ttf);
}
@font-face {
  font-family: nassim;
  src: url(../font/nassim-normal.ttf);
}
@font-face {
  font-family: yekan;
  src: url(../font/yekan-normal.ttf);
}
i {
  font-size: 11px;
  font-family: "FontAwesome";
  position: relative;
  bottom: -1px;
}

a {
  text-decoration: none;
}

.world-img {
  padding-right: 5.3%;
  height: 80px;
  margin-bottom: 1px;
}

.container-fluid {
  background: #fff;
}

.dropdown-row {
  margin: 0px;
  padding: 0px 13px 0 0px;
  margin-left: -3px;
}

.dropdown-col-4 {
  padding: 10px;
}

.mix-padding-right {
  padding-right: 1.8%;
  padding-left: 1.3%;
}

.no-padding {
  padding: 0;
  margin-left: -2px;
}

.no-padding-little-box {
  padding: 0;
  width: 46.5%;
  margin-right: 15px;
  margin-top: 7px;
}

.padding-gold-rice {
  padding: 0 8px;
}

/*شروع عنوان باکس های کوچیک */
.section-tittle {
  margin-bottom: 7px;
}
.section-tittle .link__section-tittle {
  border-radius: 0 0 2px 2px;
  background-color: #e8e8e8;
  color: #666;
  font-family: yekan;
  font-size: 11px;
  line-height: 1;
  padding: 2px 10px 5px;
  margin-bottom: -2px;
  float: left;
  position: relative;
  bottom: -4px;
}
.section-tittle .link__section-tittle:hover {
  background: #555;
  color: #fff;
}
.section-tittle h3 {
  color: #444;
  margin: 0;
  font-size: 15px;
}
.section-tittle h3 .link-h3__section-tittle {
  color: #444;
  font-size: 15px;
  font-family: nassim-bold;
  transition: all 0.3s ease-in-out;
}
.section-tittle h3 .link-h3__section-tittle:hover {
  margin-right: 5px;
}
.section-tittle h3 .link-h3__section-tittle i {
  margin-left: 7px;
  font-size: 16px;
  top: 2px;
  position: relative;
}

/* پایان عنوان باکس های کوچیک */
/* دو باکس کوچک زیر عکس فرهنگ  */
.little-box-info {
  display: flex;
  background: #fff;
  align-items: center;
  padding: 12px;
  max-height: 100px;
  overflow: hidden;
  border: 1px solid #dfdfdd;
  border-right: none;
  border-top: none;
  background: #fff;
  position: relative;
}
.little-box-info .link__little-box-info {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
}
.little-box-info .img-little-box-content {
  overflow: hidden;
  width: 52%;
  height: 72px;
  cursor: pointer;
}
.little-box-info .img-little-box-content .image-little-box {
  width: 100%;
  transition: all 0.9s ease-in-out;
}
.little-box-info .box-info-content {
  color: #222;
  padding-right: 8px;
  text-align: right;
  font-family: nassim;
  overflow: hidden;
}
.little-box-info .box-info-content h3 {
  padding: 0;
  margin: 0 0 6px;
  font-size: 15px;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.little-box-info .box-info-content h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  font-family: nassim;
  border-bottom: 2px solid transparent;
}
.little-box-info .box-info-content .h2__padding-top {
  padding-bottom: 22px;
}
.little-box-info:hover h3 {
  color: #b71818;
}
.little-box-info:hover h2 {
  color: #b71818;
}
.little-box-info:hover .image-little-box {
  transform: scale(1.03);
}

header {
  /* هدر با لوگوی خبرگذاری اقتصاد ایران */
  /* آخرین هدر همراه لینک های رنگی  */
}
header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34.5px;
  background: #fff;
  /* باکس سمت راست هدر  */
  /* منو هدر اول  */
}
header .header-top .header-clock span {
  font-size: 12px;
  font-family: yekan;
}
header .header-top .header-clock .date {
  display: flex;
  padding-right: 16px;
  line-height: 22px;
  /* دکمه ثبت نام یا ورود  */
  /* فرم ثبت نام */
}
header .header-top .header-clock .date .day .fa.fa-calendar {
  bottom: 0;
  font-size: 12px;
}
header .header-top .header-clock .date .clock i {
  margin-right: 8px;
  bottom: 0;
  font-family: fontawesome;
  font-size: 10px;
  font-weight: 900;
}
header .header-top .header-clock .date .login {
  padding: 2px 6px 0px 8px;
  font-size: 13px;
  border-radius: 2px;
  margin-right: 24px;
  background: #656565;
  font-family: nassim-bold;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
header .header-top .header-clock .date .login .fa.fa-user {
  font-size: 13px;
  margin-left: 2px;
  font-family: fontawesome;
}
header .header-top .header-clock .date .login .fa.fa-chevron-down {
  font-size: 12px;
  margin-left: 1px;
  font-family: fontawesome;
}
header .header-top .header-clock .date .form-login {
  position: absolute;
  background: #fff;
  padding: 15px;
  z-index: 1;
  right: 24.3%;
  top: 19%;
  border: 1px solid #ccc;
  padding-left: 13px;
  display: none;
}
header .header-top .header-clock .date .form-login form {
  color: #444;
  font-size: 13px;
  font-family: nassim;
}
header .header-top .header-clock .date .form-login form .input-groups .input-email, header .header-top .header-clock .date .form-login form .input-groups .input-password {
  border: 1px solid #ccc;
  width: 160px;
  font-size: 13px;
  font-family: nassim;
  padding: 5.3px 12px;
  color: #555;
}
header .header-top .header-clock .date .form-login form .input-groups .input-email:focus, header .header-top .header-clock .date .form-login form .input-groups .input-password:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 19, 19, 0.6);
  border: 1px solid #921313;
  outline: none;
}
header .header-top .header-clock .date .form-login form .input-groups .input-password {
  border-top: 0;
}
header .header-top .header-clock .date .form-login form .form-check.loginform {
  margin: 7px 0;
}
header .header-top .header-clock .date .form-login form .form-check.loginform .form-check-input {
  float: right;
  background: linear-gradient(#fafafa, #dcdcdc);
  border: 1px solid #a0a0a0;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  padding: 1.5px;
  font: 11px tahoma;
  box-shadow: none;
}
header .header-top .header-clock .date .form-login form .form-check.loginform .form-check-input:hover {
  background: linear-gradient(#fff, #e6e6e6);
  text-shadow: 0 1px 0 #fff;
}
header .header-top .header-clock .date .form-login form .form-check.loginform .form-check-input:focus {
  border-color: #4080fa;
  outline: none;
  box-shadow: inset 0 1px 2px #fff, 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 1px #c0c0c0, 0 0 1px #c0c0c0, 0 0 1px #c0c0c0;
}
header .header-top .header-clock .date .form-login form .form-check.loginform .form-check-input[type=checkbox]:checked::before {
  background: none;
  color: #808080;
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAmElEQVR42nXQMQ6EIBAFUI5OQ6TwHibacAIaIx4AbbiAtQGk429wg8lEKX4xzJswwAA0s64rpmlCrZvQGAPO+Z1xHPFgay1Ks8JlWQp6IqWEcw5s33cIIe7DeZ5LXvA4DqSUwPq+J80veF3Xf41t29B1XRPGGOkDtdafMIRwQ4LLNcMwEOi9J5B8Xc4ZSqkmrJgMnOdZ4Ss/HaFLUf+pI9MAAAAASUVORK5CYII=");
}
header .header-top .header-clock .date .form-login form .form-check.loginform .form-check-label {
  display: block;
}
header .header-top .header-clock .date .form-login form .login-group {
  display: flex;
}
header .header-top .header-clock .date .form-login form .login-group .btn.btn-danger.login {
  width: 100%;
  border-radius: 0 4px 4px 0;
  border: 1px solid #ccc;
  border-left: none;
  background: #b71818;
  font-size: 14px;
}
header .header-top .header-clock .date .form-login form .login-group .btn.btn-danger.login:hover {
  background: #991313;
}
header .header-top .header-clock .date .form-login form .login-group .btn.btn-light.sign-up {
  width: 100%;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  border-right: none;
  font-size: 14px;
}
header .header-top .header-top-nav-left {
  display: flex;
  align-items: center;
  margin-left: 8px;
  /* فرم جست و جو در هدر  */
}
header .header-top .header-top-nav-left .nav__header-top .ul__header-top {
  display: flex;
  border-right: 1px solid #ddd;
}
header .header-top .header-top-nav-left .nav__header-top .ul__header-top .list-items__header-top {
  font-family: nassim-bold;
  font-size: 13px;
  padding: 10.5px 6px;
  margin-left: 6px;
  cursor: pointer;
}
header .header-top .header-top-nav-left .nav__header-top .ul__header-top .list-items__header-top i {
  margin-left: 2px;
}
header .header-top .header-top-nav-left .nav__header-top .ul__header-top .list-items__header-top a {
  color: #222;
}
header .header-top .header-top-nav-left .nav__header-top .ul__header-top .list-items__header-top:hover {
  background: #e8e8e8;
}
header .header-top .header-top-nav-left .search-form {
  position: relative;
}
header .header-top .header-top-nav-left .search-form .search-addon.fa.fa-search {
  position: absolute;
  color: #b01927;
  font-size: 13.19px;
  top: 8px;
  cursor: pointer;
  left: 4%;
  font-family: fontawesome;
}
header .header-top .header-top-nav-left .search-form .input__search-form {
  background: #e4e4e4;
  border: none;
  font-size: 12px;
  font-family: tahoma;
  font-size: 12px;
  padding: 5px 26px 9px 29px;
}
header .header-top .header-top-nav-left .search-form .input__search-form:focus {
  outline: none;
}
header .header__iran-news {
  background-color: #b71818;
  height: 80px;
}
header .header__iran-news .logo-and-nav__iran-news {
  margin-right: -2.7%;
  display: flex;
  justify-content: space-around;
}
header .header__iran-news .logo-and-nav__iran-news .logo__iran-news {
  padding-left: 34px;
  margin-bottom: 3px;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world {
  background-image: url(../img/header-overlay.png);
  background-position: center;
  background-size: cover;
  width: 156%;
  /* منوی هدر خبرگذاری اقتصاد ایران  */
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news {
  margin-right: -7%;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news {
  display: flex;
  margin-right: 6px;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news {
  /* هاور آیتم اخبار و رویداد ها */
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .link__iran-news {
  color: #fff;
  font-size: 18px;
  padding: 26px 10px 28px;
  line-height: 77px;
  font-family: nassim-bold;
  transition: all ease-in-out 0.15s;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .link__iran-news i {
  font-family: fontawesome;
  font-size: 16px;
  margin-right: 2px;
  position: relative;
  bottom: -0.5px;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .link__iran-news:hover {
  background: #92191f;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3) inset;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news {
  background: #111;
  position: absolute;
  width: 100%;
  right: 0%;
  z-index: 1;
  border: none;
  font: normal 17px/1 nassim, tahoma, helvetica, arial, sans-serif;
  padding: 0;
  border-bottom: 5px solid #b71818;
  transition: all ease-in-out 0.15s;
  opacity: 0;
  visibility: hidden;
  min-height: 72px;
  display: flex;
  align-items: center;
  /* هاور آیتم نرخ ها و داده ها */
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .dropdown {
  background: #1b1b1b;
  min-height: 215px;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .dropdown .dropdown-heading {
  color: #fff;
  font-size: 16px;
  display: block;
  background: #313131;
  text-align: center;
  padding: 9px 0px;
  line-height: 8px;
  font-family: nassim-bold;
  margin-bottom: 7px;
  transition: all 0.3s ease-in-out;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .dropdown .dropdown-heading:hover {
  padding-left: 6px;
  background: #b71818;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .dropdown .link-dropdown-hover {
  display: inline-block;
  width: 48%;
  color: #fff;
  text-align: right;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  margin-bottom: 4.6px;
  margin-left: 1.2%;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .dropdown .link-dropdown-hover:hover {
  padding-right: 6px;
  background: #b71818;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .dropdown .container-3 {
  width: 31%;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .rate-hover {
  padding-right: 31px;
  background-image: url(../img/header-overlay.png);
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .rate-hover .list-item-rate {
  display: inline-block;
  width: 16.4%;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .rate-hover .list-item-rate .fa.fa-chevron-left {
  float: right;
  position: relative;
  bottom: -2px;
  left: 7px;
  font-size: 13px;
  color: #b71818;
  font-family: fontawesome;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .rate-hover .list-item-rate .link-rate {
  text-align: right;
  padding: 6px 13px 10px;
  width: 97%;
  color: #fff;
  font-family: nassim, tahoma, helvetica, arial, sans-serif;
  border-left: 1px solid #444;
  border-radius: 0;
  display: inline-block;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .rate-hover .list-item-rate .link-rate:hover {
  background: #b71818;
  color: #fff;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .rate-hover .list-item-rate .link-rate:hover i {
  color: #fff;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news .navbar-hover__list-item__iran-news .rate-hover .list-item-rate .border-none {
  border: none;
}
header .header__iran-news .logo-and-nav__iran-news .background-img-world .nav__iran-news .ul__iran-news .list-item__iran-news:hover .navbar-hover__list-item__iran-news {
  opacity: 1;
  visibility: initial;
}
header .header__iran-news .logo-and-nav__iran-news .danesh-logo {
  margin-right: 14px;
}
header .header__iran-news .logo-and-nav__iran-news .danesh-logo .link-danesh-logo {
  display: table-cell;
  height: 76px;
}
header .sub-header {
  background: #dedede;
  height: 36px;
}
header .sub-header .nav__sub-header {
  margin-right: -4px;
  line-height: 28px;
}
header .sub-header .nav__sub-header .ul__sub-header {
  display: flex;
}
header .sub-header .nav__sub-header .ul__sub-header .fa.fa-bars {
  color: #b01927;
  position: relative;
  bottom: -10px;
  left: 6px;
  font-family: fontawesome;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header {
  /* هاور های لینک 1 تا 16 */
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header::after {
  width: 1px;
  content: "";
  display: inline-block;
  border-left: 1px solid #b7b7b7;
  height: 17px;
  position: relative;
  bottom: -5px;
  margin-left: 0.7px;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header:last-child::after {
  border: none;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header a {
  padding: 6.2px 4px;
  color: #111;
  font-family: nassim;
  font-size: 16px;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a1:hover {
  background: #483d8b;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a2:hover {
  background: #006666;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a3:hover {
  background: #dc143c;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a4:hover {
  background: #483d8b;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a5:hover {
  background: #0099cc;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a6:hover {
  background: #08bf11;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a7:hover {
  background: #336699;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a8:hover {
  background: #cc00cc;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a9:hover {
  background: #0066ff;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a10:hover {
  background: #daa520;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a11:hover {
  background: #8b0000;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a12:hover {
  background: #483d8b;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a13:hover {
  background: #228b22;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a14:hover {
  background: #1e90ff;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a15:hover {
  background: #228b22;
  color: #fff;
}
header .sub-header .nav__sub-header .ul__sub-header .list-item__sub-header .a16:hover {
  background: #bb0000;
  color: #fff;
}

.main {
  /* قسمت دوم بدنه سایت و قیمت طلا وسکه  */
}
.main .all-box {
  width: 95%;
  /* باکس حاوی اخبار فرهنگ */
}
.main .all-box .tittle-main {
  text-align: right;
}
.main .all-box .tittle-main #tab {
  margin-right: -6px;
}
.main .all-box .tittle-main .tab {
  margin: 4px 0 7px 0;
  transition: all 0.3s ease-in-out;
}
.main .all-box .tittle-main .tab i {
  font-size: 15px;
  color: #444;
  margin-left: 5px;
}
.main .all-box .tittle-main .tab .fa.fa-bookmark {
  font-size: 13px;
  margin-right: 4px;
}
.main .all-box .tittle-main .tab .link-tittle-main {
  font-size: 15px;
  font-family: nassim-bold;
  color: #666;
}
.main .all-box .tittle-main .tab .link-tittle-main .strong-news {
  font-size: 16px;
  font-family: nassim-bold;
  color: #0040ad;
}
.main .all-box .tittle-main .tab .link-tittle-main .p-style {
  color: #333;
  font-family: "nassim";
  font-size: 17px;
}
.main .all-box .tittle-main .tab .link-tittle-main .p-style:hover {
  color: #b71818;
}
.main .all-box .tittle-main .tab .link-tittle-main:hover {
  color: #b71818;
}
.main .all-box .tittle-main .tab p {
  display: inline-block;
}
.main .all-box .tittle-main .tab span {
  float: left;
  margin-top: 2px;
  font-size: 20px;
}
.main .all-box .tittle-main .p-style {
  color: #444;
}
.main .all-box .tittle-main .p-style:hover {
  color: #b71818;
}
.main .all-box .tittle-main #tab:hover {
  padding-right: 6px;
}
.main .all-box .tittle-main #tab:hover .fa.fa-bookmark {
  color: #b71818;
}
.main .all-box .slideshow {
  width: 606px;
  height: 390px;
  margin-right: -14px;
  position: relative;
}
.main .all-box .slideshow .link__slideshow {
  display: block;
  position: relative;
  border: 1px solid #dfdfdd;
  border-right: none;
  background: #fff;
  padding: 3px;
}
.main .all-box .slideshow .link__slideshow .box-img-slideshow-content {
  position: relative;
  overflow: hidden;
}
.main .all-box .slideshow .link__slideshow .box-img-slideshow-content .image-slideshow-content {
  width: 100%;
  transition: all 0.9s ease-in-out;
}
.main .all-box .slideshow .link__slideshow .box-img-slideshow-content .image-slideshow-content:hover {
  transform: scale(1.02);
}
.main .all-box .slideshow .link__slideshow .box-img-slideshow-content::before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 30%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 83px;
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
}
.main .all-box .slideshow .link__slideshow .box-info-slideshow-content {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  color: #fff;
  padding: 20px;
  z-index: 1;
  text-align: right;
  font-family: nassim;
}
.main .all-box .slideshow .link__slideshow .box-info-slideshow-content h3 {
  padding: 0;
  margin: 0 0 6px;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .all-box .slideshow .link__slideshow .box-info-slideshow-content h2 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  display: inline-block;
}
.main .all-box .slideshow .link__slideshow .badge-style {
  position: absolute;
  top: 13px;
  right: 13px;
  border-radius: 0;
  padding: 5px 8px 4px;
  z-index: 2;
  font-family: nassim-bold;
  font-size: 13px;
  color: #fff;
  background: #0040ad;
}
.main .all-box .noroz {
  max-height: 497px;
  overflow: hidden;
}
.main .all-box .noroz .link-noroz img {
  height: 525px;
  width: 296px;
}
.main .all-box .news-box {
  text-align: right;
  width: 101.8%;
  margin-right: -4px;
}
.main .all-box .news-box .ul__news-box {
  border: solid #dfdfdd;
  border-width: 0 0 1px 1px;
  background: #fff;
  border-top: 3px solid #0040ad;
  margin-left: 3px;
}
.main .all-box .news-box .ul__news-box .list-item__news-box {
  margin: 0px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .all-box .news-box .ul__news-box .list-item__news-box .link__news-box {
  color: #222;
  font-weight: normal;
  font-size: 15px;
  font-family: "nassim";
  border-bottom: 1px solid #dfdfdd;
  display: inline-block;
  padding: 8.5px 0;
  width: 100%;
}
.main .all-box .news-box .ul__news-box .list-item__news-box .link__news-box::before {
  color: #0040ad;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f111";
  font-size: 9px;
  line-height: 1;
  position: relative;
  margin-left: 5px;
  font-size: 8px;
}
.main .all-box .news-box .ul__news-box .list-item__news-box .link__news-box:hover {
  color: #b71818;
}
.main .all-box .news-box .ul__news-box .list-item__news-box:last-child .link__news-box {
  border-bottom: none;
}
.main .slideshow-wrapper {
  margin-right: -8px;
}
.main .slideshow-wrapper .navــslideshow-wrapper {
  margin: 17px 0;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper {
  width: 1%;
  display: table-cell;
  /* hover span and ::befor */
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper span {
  color: #777;
  font-size: 19px;
  font-family: "nassim-bold";
  padding-top: 0;
  margin: 0 5px;
  display: block;
  cursor: pointer;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper span::before {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: rgb(197, 197, 197);
  margin-bottom: 9px;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-1:hover {
  color: #b22222;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-1:hover::before {
  background: #b22222;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-2:hover {
  color: #3300cc;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-2:hover::before {
  background: #3300cc;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-3:hover {
  color: #0040ad;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-3:hover::before {
  background: #0040ad;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-4:hover {
  color: #7b68ee;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-4:hover::before {
  background: #7b68ee;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-5:hover {
  color: #ba55d3;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-5:hover::before {
  background: #ba55d3;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-6:hover {
  color: #ff8c00;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-6:hover::before {
  background: #ff8c00;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-7:hover {
  color: #f08080;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-7:hover::before {
  background: #f08080;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-8:hover {
  color: #006600;
}
.main .slideshow-wrapper .navــslideshow-wrapper .ulــslideshow-wrapper .list-itemــslideshow-wrapper .span-8:hover::before {
  background: #006600;
}
.main .row-gold-price {
  /* تبدیل نمودار */
  /* کل باکس عکس ها در سمت چپ */
}
.main .row-gold-price .section-group .tabpanel {
  border: solid #dfdfdd;
  border-width: 0 0 1px 1px;
}
.main .row-gold-price .section-group .tabpanel .ul__tabpanel {
  padding: 0;
}
.main .row-gold-price .section-group .tabpanel .ul__tabpanel .list-item__tabpanel {
  width: 50%;
}
.main .row-gold-price .section-group .tabpanel .ul__tabpanel .list-item__tabpanel .link__tabpanel-left,
.main .row-gold-price .section-group .tabpanel .ul__tabpanel .list-item__tabpanel .link__tabpanel-right {
  display: inline-block;
  font-size: 16px;
  font-family: nassim;
  color: #4e4e4e;
  padding: 10.5px 0px;
  border-radius: 0;
  background: #f8f8f8;
  border-top: 3px solid #c00;
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.36), inset 0 0 8px 1px rgba(165, 164, 164, 0.5);
  width: 100%;
  text-align: center;
}
.main .row-gold-price .section-group .tabpanel .ul__tabpanel .list-item__tabpanel .link__tabpanel-right {
  border-color: #ff3131;
  box-shadow: none;
  background: #f2f2f2;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content {
  background: #fff;
  /* جدول قیمت طلا و سکه  */
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel {
  width: 100%;
  font-size: 16px;
  font-family: nassim;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel thead {
  background: #f2f2f2;
  color: #717171;
  font-weight: 400;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel thead tr th {
  padding: 4px 8px;
  font-weight: 400;
  line-height: 23px;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel thead tr .chart {
  padding: 4px 0 4px 2px;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody {
  /* عکس کوچیک شده پرچم کشورها */
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody td {
  padding: 8px 8px 8px 0;
  border-top: 1px solid #ddd;
  font-size: 12px;
  font-family: yekan;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody td .low {
  color: #bd0a0a;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody td .low::after {
  content: "\f0d7";
  font-family: FontAwesome;
  margin-right: 3px;
  display: inline-block;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody .tittle-td {
  font-family: nassim;
  font-size: 16px;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody .tittle-td a {
  color: #333;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody .before__data-market::before {
  content: "";
  margin-left: 5px;
  position: relative;
  bottom: -2px;
  display: inline-block;
  width: 16px;
  height: 11px;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody .before-dollar::before {
  background: url("http://econews.ir/themes/frontend/econews/img/flag-sm.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody .before-euro::before {
  background: url("http://econews.ir/themes/frontend/econews/img/flag-sm.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody .before-AED::before {
  background: url("http://econews.ir/themes/frontend/econews/img/flag-sm.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody .chart {
  padding: 8px 0 8px 2px;
}
.main .row-gold-price .section-group .tabpanel .tabpanel-content .tabel__tabpanel tbody .chart a {
  padding: 3px 5px 3px 5px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  width: 27px;
  box-shadow: inset 0 0 0 1px #d4d4d4;
  color: #b71818;
}
.main .row-gold-price .convertor .convert-chart {
  width: 100%;
  border-top: 3px solid #a4171e;
}
.main .row-gold-price .convertor .convert-chart .convert-chart-value .input__convert-chart-value {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  height: 52px;
  font-family: yekan;
  width: 100%;
  border: 1px solid #921313;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 19, 19, 0.6);
  color: #555;
}
.main .row-gold-price .convertor .convert-chart .convert-chart-value .input__convert-chart-value:focus {
  border-color: #921313;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 19, 19, 0.6);
}
.main .row-gold-price .convertor .convert-chart .clear-fix .convert-chart-from,
.main .row-gold-price .convertor .convert-chart .clear-fix .convert-chart-to {
  position: relative;
}
.main .row-gold-price .convertor .convert-chart .clear-fix .convert-chart-from::after,
.main .row-gold-price .convertor .convert-chart .clear-fix .convert-chart-to::after {
  content: "\f078";
  font-family: FontAwesome;
  position: absolute;
  left: 15px;
  top: 19px;
  color: #999;
  font-size: 15px;
}
.main .row-gold-price .convertor .convert-chart .clear-fix select {
  width: 100%;
  border-radius: 0;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  text-align: center;
  font-size: 17px;
  font-family: nassim-bold;
  background: #f5f5f5;
  box-shadow: inset 0 0 6px #bbb;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.main .row-gold-price .convertor .convert-chart .convert-chart-result {
  background: #383838;
  padding: 17.5px 10px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  font-family: yekan;
}
.main .row-gold-price .convertor .convert-chart .convert-chart-calculator .btn.btn-danger.link__calulator {
  width: 100%;
  border-radius: 0;
  padding: 15px 10px;
  background: #b71818;
  border: none;
  font-family: nassim-bold;
  font-size: 17px;
}
.main .row-gold-price .convertor .convert-chart .convert-chart-calculator .btn.btn-danger.link__calulator i {
  font-size: 15px;
  font-family: fontawesome;
  margin-right: 10px;
  position: relative;
  bottom: -2px;
}
.main .row-gold-price .convertor .convert-chart .convert-chart-calculator .btn.btn-danger.link__calulator:hover {
  background: #a51616;
}
.main .row-gold-price .all-section-box-news {
  margin-top: 10px;
}
.main .row-gold-price .all-section-box-news .section__box-news {
  margin-top: 10px;
}
.main .row-gold-price .ul__all-img-left {
  margin-top: 28px;
}
.main .row-gold-price .ul__all-img-left .list-items__all-img-left {
  margin-bottom: 10px;
}
.main .row-gold-price .ul__all-img-left .list-items__all-img-left .link__all-img-left {
  display: block;
}
.main .row-gold-price .ul__all-img-left .list-items__all-img-left .link__all-img-left img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */