footer {
  background: #3f3f3f;
  color: #fff;

  .footer-top {
    background-color: rgb(26 26 26);

    .row__footer-top {
      margin-left: 0;
    }

    .link__footer-icon {
      padding: 9px 0px;
      display: inline-block;

      i {
        border-left: 1px solid #777;
        color: #fff;
        font-size: 22px;
        padding: 5px 18px;
      }
    }

    /* آب و هوا */
    .weather {
      display: inline-block;

      .weather-box-content {
        display: flex;
        align-items: end;
        margin-right: 8px;

        .weather-img {
          width: 12.1%;
          position: relative;
          top: 5px;

          img {
            width: 100%;
          }
        }
        .weather-text-info {
          margin: 0px 7px 0 8px;
          span {
            font-family: nassim-bold;
          }
        }

        .weather-cities {
          position: relative;

          i {
            position: absolute;
            left: 5px;
            top: 6px;
            color: #555;
            font-size: 12px;
          }

          .select__weather-cities {
            appearance: none;
            outline: 0;
            border: 0;
            font-family: nassim-bold;
            padding: 2px 9px 0px 19px;
            background: transparent;
            color: #fff;
            option {
              background-color: #3f3f3f;
              font-size: 14px;
            }

            &:hover {
              text-shadow: 0 1px 0 rgba(255, 255, 255, 0.99);
            }
          }
        }
      }
    }

    .form-search {
      text-align: left;
      position: relative;
      margin-left: 10px;

      .input__search {
        padding: 11px 15px;
        height: auto;
        font-size: 19px;
        color: white;
        text-align: left;
        border: none;
        outline: none;
        font-family: nassim;
        font-size: 19px;
        color: #999;
        background: none;
        margin-left: 18px;
      }
      i {
        font-size: 18px;
        position: absolute;
        left: 2%;
        top: 32%;
      }
    }
  }

  .footer-body {
    background-color: rgb(14 14 13);
    padding: 6px 0 15px;

    .econews-text {
      direction: ltr;
      display: flex;
      justify-content: center;
      margin-bottom: 8px;

      h2 , h3 {
        font-size: 60px;
        font-weight: bold;
        margin-top: -10px;
        font-family: arial;
      }
      h3 {
        font-weight: normal;
      }
    }

    .footer-icon {
      text-align: center;
      direction: ltr;
      margin: 10px 0 15px;

      .link__footer-icon {
        opacity: 0.8;
        border-radius: 100%;
        overflow: hidden;
        width: 34px;
        height: 34px;
        margin: 0 15px;

        .fa-inverse {
          color: #fff;
          font-size: 17px;
          top: -4px;
        }

        &:hover {
          opacity: 1;
        }
      }

      /* هاور های آیکون فوتر */
      .icon-facebook {
        background: #3b5997;
        .fa-square {
          color: #3b5997;
        }
      }
      .icon-twitter {
        background: #29c5f6;
        .fa-square {
          color: #29c5f6;
        }
      }
      .icon-google-plus {
        background: #d03b2e;
        .fa-square {
          color: #d03b2e;
        }
      }
      .icon-linkedin {
        background: #006dbf;
        .fa-square {
          color: #006dbf;
        }
      }
      .icon-instagram {
        background: #b16c4f;
        .fa-square {
          color: #b16c4f;
        }
      }
      .icon-send {
        background: #2ca5e0;
        .fa-square {
          color: #2ca5e0;
        }
      }
    }
    /* باکس های خبری فوتر */
    .footer-all-list {
      margin: 0 auto;
      width: 76%;
      
      .list__footer-box-news {
        li {
          a {
            display: block;
            padding: 7px 4px 7px 0px;
            color: #ddd;
            font-size: 14px;
            font-family: nassim;

            &:hover {
              background: #b71818;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .footer-copy-right {
    background-image: linear-gradient(138deg, #080808, #232323);

    .copy-right {
      display: flex;
      align-items: center;
      height: 56px;

      .link__copy-right {
        img {
          margin: 0 0 -6px 13px;
          display: inline-block;
          height: 36px;
          position: relative;
          top: -5px;
        }
      }
      p {
        color: #999;
        font-size: 14px;
        font-family: nassim-bold;
      }
    }
  }
}
