header {
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;

    /* باکس سمت راست هدر  */
    .header-clock {
      display: flex;

      span {
        font-size: 12px;
        font-family: yekan;
      }

      .date {
        display: flex;
        padding-right: 16px;
        line-height: 22px;

        .day {
          .fa.fa-calendar {
            bottom: 0;
            font-size: 12px;
          }
        }

        .clock {
          i {
            margin-right: 8px;
            bottom: 0;
            font-family: fontawesome;
            font-size: 10px;
            font-weight: 900;
          }
        }


      }

      /* دکمه ثبت نام یا ورود  */
      .login {
        padding: 5px 6px 0px 8px;
        font-size: 13px;
        border-radius: 2px;
        margin-right: 24px;
        background: #656565;
        font-family: nassim-bold;
        color: #fff;
        text-decoration: none;
        cursor: pointer;

        .fa.fa-user {
          font-size: 13px;
          margin-left: 2px;
          font-family: fontawesome;
        }

        .fa.fa-chevron-down {
          font-size: 12px;
          margin-left: 1px;
          font-family: fontawesome;
        }
      }

      /* فرم ثبت نام */
      .form-login {
        position: absolute;
        background: #fff;
        padding: 15px;
        z-index: 1;
        right: 23.7%;
        top: 19%;
        border: 1px solid #ccc;
        padding-left: 13px;
        display: none;

        form {
          color: #444;
          font-size: 13px;
          font-family: nassim;

          .input-groups {

            .input-email,
            .input-password {
              border: 1px solid #ccc;
              width: 160px;
              font-size: 13px;
              font-family: nassim;
              padding: 5.3px 12px;
              color: #555;

              &:focus {
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                  0 0 8px rgba(146, 19, 19, 0.6);
                border: 1px solid #921313;
                outline: none;
              }
            }

            .input-password {
              border-top: 0;
            }
          }

          .form-check.loginform {
            margin: 7px 0;

            .form-check-input {
              float: right;
              background: linear-gradient(#fafafa, #dcdcdc);
              border: 1px solid #a0a0a0;
              margin-left: 5px;
              width: 16px;
              height: 16px;
              padding: 1.5px;
              font: 11px tahoma;
              box-shadow: none;

              &:hover {
                background: linear-gradient(#fff, #e6e6e6);
                text-shadow: 0 1px 0 #fff;
              }

              &:focus {
                border-color: #4080fa;
                outline: none;
                box-shadow: inset 0 1px 2px #fff, 0 1px 2px rgba(0, 0, 0, 0.2),
                  0 0 1px #c0c0c0, 0 0 1px #c0c0c0, 0 0 1px #c0c0c0;
              }
            }

            .form-check-input[type="checkbox"]:checked::before {
              background: none;
              color: #808080;
              content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAmElEQVR42nXQMQ6EIBAFUI5OQ6TwHibacAIaIx4AbbiAtQGk429wg8lEKX4xzJswwAA0s64rpmlCrZvQGAPO+Z1xHPFgay1Ks8JlWQp6IqWEcw5s33cIIe7DeZ5LXvA4DqSUwPq+J80veF3Xf41t29B1XRPGGOkDtdafMIRwQ4LLNcMwEOi9J5B8Xc4ZSqkmrJgMnOdZ4Ss/HaFLUf+pI9MAAAAASUVORK5CYII=");
            }

            .form-check-label {
              display: block;
            }
          }

          .login-group {
            display: flex;

            .btn.btn-danger.login {
              width: 100%;
              border-radius: 0 4px 4px 0;
              border: 1px solid #ccc;
              border-left: none;
              background: #b71818;
              font-size: 14px;
              margin: 0;

              &:hover {
                background: #991313;
              }
            }

            .btn.btn-light.sign-up {
              width: 100%;
              border-radius: 4px 0 0 4px;
              border: 1px solid #ccc;
              border-right: none;
              font-size: 14px;
            }
          }
        }
      }
    }

    /* منو هدر اول  */
    .header-top-nav-left {
      display: flex;
      height: 34px;

      .nav__header-top {
        .list__header-top {
          border-right: 1px solid #ddd;
          margin-left: 6px;

          li {
            font-family: nassim-bold;
            font-size: 13px;
            display: inline-block;
            cursor: pointer;

            i {
              top: 2px;
              margin-left: 2px;
            }

            a {
              color: #222;
              padding: 10px 7px;
              display: block;
            }

            &:hover {
              background: #e8e8e8;
            }
          }
        }
      }

      /* فرم جست و جو در هدر  */
      .search-form {
        position: relative;
        display: inline-block;

        .search-addon.fa.fa-search {
          position: absolute;
          color: #b01927;
          font-size: 13px;
          top: 10px;
          cursor: pointer;
          left: 4%;
          font-family: fontawesome;
        }

        .input__search-form {
          background: #e4e4e4;
          border: none;
          font-size: 12px;
          font-family: tahoma;
          font-size: 12px;
          padding: 5px 26px 9px 29px;
          margin-top: 3px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  /* هدر با لوگوی خبرگذاری اقتصاد ایران */
  .header__iran-news {
    background-color: #b71818;
    height: 100%;

    .logo-and-nav__iran-news {
      margin-right: -2.7%;
      display: flex;
      justify-content: space-around;

      .logo__iran-news {
        padding-left: 8px;
        margin-bottom: 3px;
      }

      .background-img-world {
        background-image: url(../img/header-overlay.png);
        background-position: right;
        width: 130%;

        /* منوی هدر خبرگذاری اقتصاد ایران  */
        .nav__iran-news {

          // margin-right: -7%;
          .list__iran-news {
            display: flex;
            margin-right: 6px;

            li {
              .link__iran-news {
                color: #fff;
                font-size: 18px;
                padding: 26px 10px 28px;
                line-height: 77px;
                font-family: nassim-bold;
                transition: all ease-in-out 0.15s;

                i {
                  font-family: fontawesome;
                  font-size: 16px;
                  margin-right: 2px;
                  position: relative;
                  bottom: -0.5px;
                }

                &:hover {
                  background: #92191f;
                  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3) inset;
                }
              }

              /* هاور آیتم اخبار و رویداد ها */
              .navbar-hover-iran-news {
                background: #111;
                position: absolute;
                width: 100%;
                right: 0%;
                z-index: 1;
                border: none;
                font: normal 17px/1 nassim, tahoma, helvetica, arial, sans-serif;
                padding: 0;
                border-bottom: 5px solid #b71818;
                transition: all ease-in-out 0.15s;
                opacity: 0;
                visibility: hidden;
                min-height: 72px;
                display: flex;
                align-items: center;

                /* هاور آیتم مناطق آزاد */
                .menu-area {
                  text-align: center;

                  li {
                    display: inline-block;
                    margin: 0 4px;
                    padding: 15px 0;

                    a {
                      display: block;
                      background: #fff;
                      border-radius: 7px;
                      overflow: hidden;
                      padding: 5px 5px 0 5px;

                      img {
                        width: 100%;
                      }

                      &:hover img {
                        outline: 6px solid #b01927;
                      }
                    }
                  }
                }
              }

              &:hover .navbar-hover-iran-news {
                opacity: 1;
                visibility: initial;
              }
            }
          }
        }
      }

      .danesh-logo {
        margin-right: 14px;

        .link-danesh-logo {
          display: table-cell;
          height: 76px;
        }
      }
    }

    .toggle-menu {
      padding-top: 8px;
      height: 50px;
      // margin-right: 0px;

      .btn__toggle {
        background: none;
        border: 1px solid #000;
        padding: 5px 13px 7px;
        border-radius: 0;
        margin-top: -2px;

        i {
          font-size: 21px;
          color: #fff;
        }

        &:hover {
          background-color: #202020;
        }
      }

      .logo-header {
        width: 120px;
        position: relative;
        top: -37px;
        right: 57px;

        img {
          width: 100%;
        }
      }
    }

    .card-body {
      padding: 0;
      background: #212121;
      border: 0;
    }

    .navbar-collapse {
      background: #212121;
      padding: 15px 13px 15px 13px;

      .list__navbar-collapse {
        li {
          .link__navbar-collapse {
            font-family: nassim-bold;
            font-size: 18px;
            color: #fff;
            padding: 15px 25px 16px;
            display: block;

            i {
              font-size: 17px;
              margin-right: 2px;
            }

            &:hover {
              background: #92191f;
            }
          }
        }
      }
    }
  }

  /* آخرین هدر همراه لینک های رنگی  */
  .header-sub {
    background: #dedede;

    .nav__header-sub {
      margin-right: -4px;
      line-height: 28px;

      .list__header-sub {
        white-space: nowrap;
        height: 34px;

        .fa.fa-bars {
          color: #b01927;
          position: relative;
          bottom: -3px;
          left: 2px;
        }

        li {
          display: inline-block;

          &::after {
            width: 1px;
            content: "";
            display: inline-block;
            border-left: 1px solid #b7b7b7;
            height: 17px;
            position: relative;
            bottom: -5px;
            margin-left: 0.7px;
          }

          &:last-child::after,
          &:first-child::after {
            border: none;
          }

          a {
            padding: 6px 4px 5px;
            color: #111;
            font-family: nassim;
            font-size: 16px;
          }

          /* هاور های لینک 1 تا 16 */
          .a1:hover {
            background: #483d8b;
            color: #fff;
          }

          .a2:hover {
            background: #006666;
            color: #fff;
          }

          .a3:hover {
            background: #dc143c;
            color: #fff;
          }

          .a4:hover {
            background: #483d8b;
            color: #fff;
          }

          .a5:hover {
            background: #0099cc;
            color: #fff;
          }

          .a6:hover {
            background: #08bf11;
            color: #fff;
          }

          .a7:hover {
            background: #336699;
            color: #fff;
          }

          .a8:hover {
            background: #cc00cc;
            color: #fff;
          }

          .a9:hover {
            background: #0066ff;
            color: #fff;
          }

          .a10:hover {
            background: #daa520;
            color: #fff;
          }

          .a11:hover {
            background: #8b0000;
            color: #fff;
          }

          .a12:hover {
            background: #483d8b;
            color: #fff;
          }

          .a13:hover {
            background: #228b22;
            color: #fff;
          }

          .a14:hover {
            background: #1e90ff;
            color: #fff;
          }

          .a15:hover {
            background: #228b22;
            color: #fff;
          }

          .a16:hover {
            background: #bb0000;
            color: #fff;
          }

          /* هاور اکو هدر ساب */
          .hover-header-sub {
            background: red;
            position: absolute;
            width: 100%;
            right: 0;
            padding: 10px 0;
            text-align: right;
            background: #d2d2d2;
            box-shadow: 0 1px 1px #888;
            visibility: hidden;
            opacity: 0;
            transition: all 0.15s ease-in-out;

            .link__hover-sub {
              display: inline-block;
              padding: 5px 5px;
              line-height: 1;
              color: #444;
              width: 100%;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              border-left: 1px solid #aaa;

              i {
                display: inline-block;
                border-radius: 5px;
                box-shadow: 0 1px 3px #aaa;
                margin-left: 2px;
                background: #FFF;
                line-height: 1;
                text-align: center;
                font-size: 13px;
                padding: 0 2px;
              }
              .fa.fa-rss {
                color: #f26522;
              }

              span {
                width: 18px;
                height: 18px;
                display: inline-block;
                vertical-align: middle;
              }

              &:hover {
                background: #006666;
                color: white;

                i {
                  color: #000;
                }
              }
            }

            .a-parents:nth-child(6n+6) a {
              border-left: none;
            }
          }


        }
        li:hover .hover-header-sub {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}