.main {
  .all-box {
    .tittle-main {
      text-align: right;
      #tab {
        margin-right: -6px;
      }
      .tab {
        margin: 4px 0 7px 0;
        transition: all 0.3s ease-in-out;
        i {
          font-size: 15px;
          color: #444;
          margin-left: 5px;
        }
        .fa.fa-bookmark {
          font-size: 13px;
          margin-right: 4px;
        }
        .link-tittle-main {
          font-size: 15px;
          font-family: nassim-bold;
          color: #666;
          .strong-news {
            font-size: 16px;
            font-family: nassim-bold;
            color: #0040ad;
          }
          .p-style {
            color: #333;
            font-family: "nassim";
            font-size: 17px;
            &:hover {
              color: #b71818;
            }
          }

          &:hover {
            color: #b71818;
          }
        }

        p {
          display: inline-block;
        }
        span {
          float: left;
          margin-top: 2px;
          font-size: 20px;
        }
      }
      .p-style {
        color: #444;
        &:hover {
          color: #b71818;
        }
      }

      #tab:hover {
        padding-right: 6px;
      }
      #tab:hover .fa.fa-bookmark {
        color: #b71818;
      }
    }

    .slideshow {
      margin-right: -7px;
      position: relative;
    }
    .noroz {
      max-height: 497px;
      overflow: hidden;
      .link-noroz {
        img {
          height: 525px;
          width: 296px;
        }
      }
    }
  }

  .slideshow-wrapper {
    .navــslideshow-wrapper {
      margin: 17px 0;
      .ulــslideshow-wrapper {
        .list-itemــslideshow-wrapper {
          width: 1%;
          display: table-cell;
          span {
            color: #777;
            font-size: 19px;
            font-family: "nassim-bold";
            padding-top: 0;
            margin: 0 5px;
            display: block;
            cursor: pointer;

            &::before {
              content: "";
              display: block;
              width: 100%;
              height: 6px;
              background: rgb(197, 197, 197);
              margin-bottom: 9px;
            }
          }

          /* hover span and ::befor */
          .span-1:hover {
            color: #b22222;
          }
          .span-1:hover::before {
            background: #b22222;
          }
          .span-2:hover {
            color: #3300cc;
          }
          .span-2:hover::before {
            background: #3300cc;
          }
          .span-3:hover {
            color: #0040ad;
          }
          .span-3:hover::before {
            background: #0040ad;
          }
          .span-4:hover {
            color: #7b68ee;
          }
          .span-4:hover::before {
            background: #7b68ee;
          }
          .span-5:hover {
            color: #ba55d3;
          }
          .span-5:hover::before {
            background: #ba55d3;
          }
          .span-6:hover {
            color: #ff8c00;
          }
          .span-6:hover::before {
            background: #ff8c00;
          }
          .span-7:hover {
            color: #f08080;
          }
          .span-7:hover::before {
            background: #f08080;
          }
          .span-8:hover {
            color: #006600;
          }
          .span-8:hover::before {
            background: #006600;
          }
        }
      }
    }
  }

  /* قسمت دوم بدنه سایت و قیمت طلا وسکه  */
  .row-gold-price {
    margin-top: 10px;
    .section-group {
      .tabpanel {
        border: solid #dfdfdd;
        border-width: 0 0 1px 1px;

        .ul__tabpanel {
          padding: 0;
          .list-item__tabpanel {
            width: 50%;
            .link__tabpanel-left,
            .link__tabpanel-right {
              display: inline-block;
              font-size: 16px;
              font-family: nassim;
              color: #4e4e4e;
              padding: 10.5px 0px;
              border-radius: 0;
              background: #f8f8f8;
              border-top: 3px solid #c00;
              box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.36),
                inset 0 0 8px 1px rgba(165, 164, 164, 0.5);
              width: 100%;
              text-align: center;
            }
            .link__tabpanel-right {
              border-color: #ff3131;
              box-shadow: none;
              background: #f2f2f2;
              color: #b71818;
            }

            .link__tabpanel-left:hover {
              background: #eee;
              box-shadow: 0 0 13px #c0c0c0 inset;
            }
          }
        }

        .tabpanel-content {
          background: #fff;

          /* جدول قیمت طلا و سکه  */
          .tabel__tabpanel {
            width: 100%;
            font-size: 16px;
            font-family: nassim;
            thead {
              background: #f2f2f2;
              color: #717171;
              font-weight: 400;
              tr {
                th {
                  padding: 4px 8px;
                  font-weight: 400;
                  line-height: 23px;
                }
                .chart {
                  padding: 4px 0 4px 2px;
                }
              }
            }
            tbody {
              tr {
                color: #bd0a0a;
                height: 40px;

                td {
                  padding: 8px 8px 8px 0;
                  border-top: 1px solid #ddd;
                  font-size: 12px;
                  font-family: yekan;

                  .low::after {
                    content: "\f0d7";
                    font-family: FontAwesome;
                    margin-right: 3px;
                    display: inline-block;
                  }

                  .percent {
                    color: #333;
                  }
                }
                .tittle-td {
                  font-family: nassim;
                  font-size: 16px;
                  a {
                    color: #333;
                  }
                }

                /* عکس کوچیک شده پرچم کشورها */
                .before__data-market {
                  &::before {
                    content: "";
                    margin-left: 5px;
                    position: relative;
                    bottom: -2px;
                    display: inline-block;
                    width: 16px;
                    height: 11px;
                  }
                }
                .before-dollar::before {
                  background: url("http://econews.ir/themes/frontend/econews/img/flag-sm.png")
                    no-repeat;
                  background-position-x: 0%;
                  background-position-y: 0%;
                }

                .before-euro::before {
                  background: url("http://econews.ir/themes/frontend/econews/img/flag-sm.png")
                    no-repeat;
                  background-position-x: 0%;
                  background-position-y: 0%;
                }
                .before-AED::before {
                  background: url("http://econews.ir/themes/frontend/econews/img/flag-sm.png")
                    no-repeat;
                  background-position-x: 0%;
                  background-position-y: 0%;
                }

                .chart {
                  padding: 8px 0 8px 2px;
                  a {
                    padding: 3px 5px 3px 5px;
                    font-size: 16px;
                    display: block;
                    margin: 0 auto;
                    width: 27px;
                    box-shadow: inset 0 0 0 1px #d4d4d4;
                    color: #b71818;
                    &:hover {
                      color: #fff;
                      background: #b71818;
                    }
                  }
                }
                &:hover {
                  background: #fff0e5;
                }
              }
            }
          }
        }
      }

      &:hover .link-h3__section-tittle {
        margin-right: 5px;
      }
    }

    /* تبدیل نمودار */
    .convertor {
      .convert-chart {
        width: 100%;
        border-top: 3px solid #921313;
        .convert-chart-value {
          .input__convert-chart-value {
            text-align: center;
            font-size: 17px;
            font-weight: bold;
            height: 52px;
            font-family: yekan;
            width: 100%;
            border: 1px solid #ccc;
            outline: 0;
            color: #555;

            &:focus {
              border: 1px solid #921313;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                0 0 8px rgba(146, 19, 19, 0.6);
            }
          }
        }

        .clear-fix {
          .convert-chart-from,
          .convert-chart-to {
            position: relative;
            &::after {
              content: "\f078";
              font-family: FontAwesome;
              position: absolute;
              left: 15px;
              top: 19px;
              color: #999;
              font-size: 15px;
            }
          }

          select {
            width: 100%;
            border-radius: 0;
            padding-top: 18.5px;
            padding-bottom: 18.5px;
            text-align: center;
            font-size: 17px;
            font-family: nassim-bold;
            background: #f5f5f5;
            box-shadow: inset 0 0 6px #bbb;
            border: none;
            outline: none;
            appearance: none;
          }
        }

        .convert-chart-result {
          background: #383838;
          padding: 17.5px 10px;
          text-align: center;
          color: #fff;
          font-size: 17px;
          font-weight: bold;
          font-family: yekan;
        }

        .convert-chart-calculator {
          .btn.btn-danger.link__calulator {
            width: 100%;
            border-radius: 0;
            padding: 15px 10px;
            background: #b71818;
            border: none;
            font-family: nassim-bold;
            font-size: 17px;

            i {
              font-size: 15px;
              font-family: fontawesome;
              margin-right: 10px;
              position: relative;
              bottom: -2px;
            }

            &:hover {
              background: #a51616;
            }
          }
        }
      }
      &:hover .link-h3__section-tittle {
        margin-right: 5px;
      }
    }

    .all-section-box-news {
      margin-top: 10px;
      .section__box-news {
        margin-top: 10px;

        .little-box-info {
          border-top: 3px solid #b71818;
        }

        .border-top-info-1 {
          border-top-color: #444;
          &:hover h2,
          &:hover h3 {
            color: #444;
          }
        }
        .border-top-info-2 {
          border-top-color: #6a5acd;
          &:hover h2,
          &:hover h3 {
            color: #6a5acd;
          }
        }
        .border-top-info-3 {
          border-top-color: #00bfff;
          &:hover h2,
          &:hover h3 {
            color: #00bfff;
          }
        }
        .border-top-info-4 {
          border-top-color: #dc143c;
          &:hover h2,
          &:hover h3 {
            color: #dc143c;
          }
        }
        .border-top-info-5 {
          border-top-color: #ba55d3;
          &:hover h2,
          &:hover h3 {
            color: #ba55d3;
          }
        }
        .border-top-info-6 {
          border-top-color: #228b22;
          &:hover h2,
          &:hover h3 {
            color: #228b22;
          }
        }

        &:hover .link-h3__section-tittle {
          margin-right: 5px;
        }
      }
    }

    /* کل باکس عکس ها در سمت چپ */
    .ul__all-img-left {
      margin-top: 28px;

      .list-items__all-img-left {
        margin-bottom: 13px;

        .link__all-img-left {
          display: block;

          img {
            width: 100%;
          }
        }
      }
    }
  }
  /* هاور های باکس خبری حاوی منو از 1 تا 16 */
  /* هاورهای باکس خبری پولی- مالی */
  .box-money-1 {
    .news-menu-box-header {
      border-top-color: #483d8b;
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #483d8b;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2 {
      color: #483d8b;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #483d8b;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #483d8b;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #483d8b;
      color: #483d8b !important;
    }
  }

  /* هاورهای باکس خبری بازار سرمایه */
  .box-market-2 {
    .news-menu-box-header {
      border-top-color: #228b22;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #228b22;
          }
          i {
            color: #228b22;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #228b22;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2 {
      color: #228b22;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #228b22;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #228b22;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #228b22;
      color: #228b22 !important;
    }
  }

  /* هاورهای باکس خبری چهر های شاخص  */
  .box-face-3 {
    .news-menu-box-header {
      border-top-color: #7f05a1;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #7f05a1;
          }
          i {
            color: #7f05a1;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #7f05a1;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #7f05a1;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #7f05a1;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #7f05a1;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #7f05a1;
      color: #7f05a1 !important;
    }
  }

  /* هاورهای باکس خبری اقتصاد دانش بنیان */
  .box-Knowledge-base-4 {
    .news-menu-box-header {
      border-top-color: #7b68ee;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #7b68ee;
          }
          i {
            color: #7b68ee;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #7b68ee;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left {
      border: none;
      .default-gift {
        img {
          width: 100%;
          transform: scale(1);
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #7b68ee;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #7b68ee;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #7b68ee;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #7b68ee;
      color: #7b68ee !important;
    }
  }

  /* هاورهای باکس خبری اقتصاد فرهنگ و هنر */
  .box-art-5 {
    .news-menu-box-header {
      border-top-color: #0040ad;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #0040ad;
          }
          i {
            color: #0040ad;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #0040ad;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #0040ad;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #0040ad;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #0040ad;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #0040ad;
      color: #0040ad !important;
    }
  }

  /* هاورهای باکس خبری اقتصاد ورزش */
  .box-sport-6 {
    .news-menu-box-header {
      border-top-color: #ff8c00;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #ff8c00;
          }
          i {
            color: #ff8c00;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #ff8c00;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #ff8c00;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #ff8c00;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #ff8c00;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #ff8c00;
      color: #ff8c00 !important;
    }
  }

  /* هاورهای باکس خبری اقتصاد خودرو */
  .box-cars-7 {
    .news-menu-box-header {
      border-top-color: #daa520;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #daa520;
          }
          i {
            color: #daa520;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #daa520;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #daa520;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #daa520;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #daa520;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #daa520;
      color: #daa520 !important;
    }
  }

  /* هاورهای باکس خبری راه و شهر سازی */
  .box-the-way-8 {
    .news-menu-box-header {
      border-top-color: #283803;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #283803;
          }
          i {
            color: #283803;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #283803;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left {
      border: none;
      .default-gift {
        img {
          width: 100%;
          transform: scale(1);
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #283803;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #283803;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #283803;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #283803;
      color: #283803 !important;
    }
  }

  /* هاورهای باکس خبری اقتصاد سبز */
  .box-green-9 {
    .news-menu-box-header {
      border-top-color: #006400;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #006400;
          }
          i {
            color: #006400;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #006400;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #006400;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #006400;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #006400;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #006400;
      color: #006400 !important;
    }
  }

  /* هاورهای باکس خبری توریسم و گردشگری */
  .box-tourism-10 {
    .news-menu-box-header {
      border-top-color: #008b8b;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #008b8b;
          }
          i {
            color: #008b8b;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #008b8b;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #008b8b;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #008b8b;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #008b8b;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #008b8b;
      color: #008b8b !important;
    }
  }

  /* هاورهای باکس خبری سبک زندگی */
  .box-life-style-11 {
    .news-menu-box-header {
      border-top-color: #c71585;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #c71585;
          }
          i {
            color: #c71585;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #c71585;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #c71585;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #c71585;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #c71585;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #c71585;
      color: #c71585 !important;
    }
  }

  /* هاورهای باکس خبری سلامت */
  .box-health-12 {
    .news-menu-box-header {
      border-top-color: #f08080;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #f08080;
          }
          i {
            color: #f08080;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #f08080;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left {
      border: none;
      .default-gift {
        img {
          width: 100%;
          transform: scale(1);
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #f08080;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #f08080;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #f08080;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #f08080;
      color: #f08080 !important;
    }
  }

  /* هاورهای باکس خبری راهنمای بازار */
  .box-market-guide-13 {
    .news-menu-box-header {
      border-top-color: #ba55d3;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #ba55d3;
          }
          i {
            color: #ba55d3;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #ba55d3;
          }
        }
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #ba55d3;
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #ba55d3;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            color: #ba55d3;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #ba55d3;
      color: #ba55d3 !important;
    }
  }

  /* هاورهای باکس خبری چند رسانه ای */
  .box-media-14 {
    .news-menu-box-header {
      border-top-color: #555;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #555;
          }
          i {
            color: #555;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #222;
          }
        }
      }
    }

    .news-menu-box-default-right-or-left {
      .default-right-img:before {
        font-family: FontAwesome;
        content: "\f04b";
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(178, 34, 34, 0.8);
        padding: 8px 6px;
        font-size: 15px;
        color: #fff;
        z-index: 2;
      }
    }
    .news-menu-box-default-right-or-left:hover h2,
    .news-menu-box-default-right-or-left:hover h3 {
      color: #222;
    }

    .little-box-info {
      .img-little-box-content::before {
        font-family: FontAwesome;
        content: "\f04b";
        position: absolute;
        left: 0;
        bottom: 1.5px;
        background: rgba(178, 34, 34, 0.8);
        padding: 6px 5px 5px;
        font-size: 10px;
        color: #fff;
        z-index: 2;
      }

      .img-background-top::before {
        background: rgba(255, 140, 0, 0.8);
      }
      .img-background-sub::before {
        background: rgba(51, 0, 204, 0.8);
      }
    }

    .little-box-info:hover h2,
    .little-box-info:hover h3 {
      color: #222;
    }

    .news-box {
      .ul__news-box {
        li {
          a:before {
            content: "\f04b";
            font-family: FontAwesome;
            font-size: 13px;
            color: #da9696;
          }

          .link__fist-child::before {
            content: "\f030";
            margin-left: 3px;
            font-family: FontAwesome;
          }

          .link__last-child::before {
            content: "\f028";
            font-size: 11px;
            margin-left: 3px;
          }
        }
      }
    }

    .link__news-box:hover {
      border-color: #b71818;
      color: #b71818 !important;
    }
  }

  /* هاورهای باکس خبری استان ها */
  .box-state-15 {
    .news-menu-box-header {
      border-top-color: #555;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #555;
          }
          i {
            color: #555;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header {
            font-family: nassim-bold;
            color: #111;
            &:hover {
              color: #b71818;
            }
          }
        }
      }
    }
    .news-menu-box-default-right-or-left {
      border: none;
      .default-gift {
        img {
          width: 100%;
          transform: scale(1);
        }
      }
    }

    .ul__little-box-info {
      position: relative;
      max-height: 297px;

      .list-items__little-box-info {
        padding: 0;
        .little-box-info {
          border: none;
          background: #333;
          padding: 10.8px 12px;

          .box-info-content {
            h2 {
              font-family: "nassim-bold";
              color: #fff;
            }
          }
          &:hover h2 {
            color: #ff8c00;
          }

          &:hover img {
            transform: scale(1.02);
          }
        }
      }

      .link__text-more {
        font-size: 1.1em;
        color: #b71818;
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-family: "nassim-bold";

        &::after {
          content: "...";
        }
        &:hover {
          color: #fff;
        }
      }
    }

    &:hover .news-box-right {
      margin: 0;
    }

    .iran-map {
      background: #e5e5e5;
      height: 295.5px;
      position: relative;

      .select-iran-map {
        position: absolute;
        right: 10px;
        top: 10px;
        select {
          font-size: 12px;
          font-family: tahoma;
          box-shadow: inset 0 1px 2px #fff, 0 1px 2px rgba(0, 0, 0, 0.2);
          appearance: none;
          background-image: url(../img/download.png);
          background-position: 12px, left center;
          background-repeat: no-repeat, repeat;
          border-radius: 3px;
          border: 1px solid #a0a0a0;
          padding: 8px 10px 9px 29px;
          outline: 0;

          &:hover {
            box-shadow: inset 0 1px 2px #fff, 0 2px 4px rgba(0, 0, 0, 0.2);
          }
        }
      }

      .map {
        text-align: center;
      }
    }
  }

  /* هاورهای باکس نیازمندی ها */
  .box-need-16 {
    .news-menu-box-header {
      border-top-color: #cc4129;

      .news-box-right {
        .news-menu-box-header-tittle {
          .link__news-menu-box-tittle {
            color: #cc4129;
          }
          i {
            color: #cc4129;
          }
        }
      }
      .ul__news-menu-box-header {
        .list-items__news-menu-box-header {
          .link__news-menu-box-header:hover {
            color: #cc4129;
          }
        }
      }

      .news-confing {
        margin-top: 9px;
        .link__news-confing {
          background: #cc4129;
          color: #fff;
          font-family: nassim;
          padding: 4px 15px;
          i {
            bottom: -2px;
            position: relative;
            margin-left: 4px;
            font-family: fontawesome;
            font-size: 17px;
          }

          &:hover {
            background: #333;
          }
        }
      }
    }

    h2 {
      font-size: 23px !important;
    }
  }
}
