body {
  direction: rtl;
  background: #f2f2f2;
  overflow-x: hidden;
}
.container {
  max-width: 1269px;
}

@font-face {
  font-family: fa-solid;
  src: url(/componet/font/fa-solid/fa-solid-900.ttf);
}
@font-face {
  font-family: fontawesome;
  src: url(/componet/font/fontawesome/fontawesome-webfont.ttf);
}
@font-face {
  font-family: nassim-bold;
  src: url(/componet/font/nassim-bold/nassim-bold.ttf);
}
@font-face {
  font-family: nassim;
  src: url(/componet/font/nassim-normal/nassim-normal.ttf);
}
@font-face {
  font-family: yekan;
  src: url(/componet/font/yekan/yekan-normal.ttf);
}

i {
  font-size: 11px;
  font-family: fontawesome;
  position: relative;
  bottom: -1px;
}
a {
  text-decoration: none;
}
.world-img {
  padding-right: 5.3%;
  height: 80px;
  margin-bottom: 1px;
}
.container-fluid {
  background: #fff;
}
.dropdown-row {
  margin: 0px;
  padding: 0px 13px 0 0px;
  margin-left: -3px;
}
.dropdown-col-4 {
  padding: 10px;
}
.mix-padding-right {
  padding-right: 1.8%;
  padding-left: 1.3%;
}

.col-4,
.col-3 {
  padding-left: 8px;
  padding-right: 8px;
}

.little-box-2 {
  margin-top: 14px;
}

/* شروع دراپ دون */
.dropdown {
  background: #1b1b1b;

  .dropdown-heading {
    color: #fff;
    font-size: 16px;
    display: block;
    background: #313131;
    text-align: center;
    padding: 9px 0px;
    line-height: 8px;
    font-family: nassim-bold;
    margin-bottom: 7px;
    transition: all 0.3s ease-in-out;
    &:hover {
      padding-left: 6px;
      background: #b71818;
    }
  }
  .link-dropdown-hover {
    display: inline-block;
    width: 48%;
    color: #fff;
    text-align: right;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    margin-bottom: 4.6px;
    margin-left: 1.2%;
    font-family: nassim;

    &:hover {
      padding-right: 6px;
      background: #b71818;
    }
  }
  .container-3 {
    width: 31%;
  }
}

.dropdown-toggle-hover {
  display: none;
}
/* پایان دارپ دون */

/* شروع هاور آیتم نرخ ها و داده ها */
.rate-hover {
  padding: 15px 0;
  padding-right: 15px;
  background-image: url("../img/header-overlay.png");

  .list-item-rate {
    display: inline-block;
    width: 16.4%;
    margin: 2px 0;

    .fa.fa-chevron-left {
      float: right;
      position: relative;
      bottom: -2px;
      left: 7px;
      font-size: 13px;
      color: #b71818;
      font-family: fontawesome;
    }

    a {
      text-align: right;
      padding: 6px 13px 10px;
      width: 97%;
      color: #fff;
      font-family: nassim, tahoma, helvetica, arial, sans-serif;
      border-left: 1px solid #444;
      border-radius: 0;
      display: inline-block;

      &:hover {
        background: #b71818;
        color: #fff;
      }
      &:hover .fa.fa-chevron-left {
        color: #fff;
      }
    }
    .border-none {
      border: none;
    }
  }
}
/* پایان هاور آیتم نرخ ها و داده ها */

/* شروع نمایش اسلاید یکی بعد هدر و دیگری قبل فوتر */
.slideshow-box-img {
  position: relative;

  .link__slideshow {
    display: block;
    position: relative;
    border: 1px solid #dfdfdd;
    border-right: none;
    background: #fff;
    padding: 3px;

    .box-img-slideshow-content {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        transition: all 0.9s ease-in-out;
      }

      &::before {
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.95) 30%,
          rgba(0, 0, 0, 0) 100%
        );
        content: "";
        height: 83px;
        position: absolute;
        width: 100%;
        z-index: 1;
        bottom: 0;
      }
    }
  }
  .link__slideshow-text {
    .box-info-slideshow-content {
      position: absolute;
      bottom: 3px;
      left: 3px;
      right: 3px;
      color: #fff;
      padding: 20px;
      z-index: 1;
      text-align: right;
      font-family: nassim;

      h3 {
        padding: 0;
        margin: 0 0 6px;
        font-size: 17px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
      }
      h2 {
        padding: 0;
        margin: 0;
        font-size: 30px;
        font-weight: bold;
        border-bottom: 2px solid transparent;
        display: inline-block;
      }
    }
    .badge-style {
      position: absolute;
      top: 13px;
      right: 13px;
      border-radius: 0;
      padding: 5px 8px 4px;
      z-index: 2;
      font-family: nassim-bold;
      font-size: 13px;
      color: #fff;
      background: #0040ad;
    }
  }

  &:hover img {
    transform: scale(1.02);
  }
}
/* پایان نمایش اسلاید یکی بعد هدر و دیگری قبل فوتر */

/* شروع باکس حاوی اخبار فرهنگ */
.news-box {
  text-align: right;

  .list__news-box {
    border: solid #dfdfdd;
    border-width: 0 0 1px 1px;
    background: #fff;
    border-top: 3px solid #0040ad;
    margin-left: 3px;

    li {
      margin: 0px 12px;

      a {
        color: #222;
        font-weight: normal;
        font-size: 15px;
        font-family: "nassim";
        border-bottom: 1px solid #dfdfdd;
        display: inline-block;
        padding: 8px 0;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &::before {
          color: #0040ad;
          font-family: FontAwesome;
          display: inline-block;
          content: "\f111";
          font-size: 9px;
          line-height: 1;
          position: relative;
          margin-left: 5px;
          font-size: 8px;
        }
        &:hover {
          color: #b71818;
        }
      }
      &:last-child a {
        border-bottom: none;
      }
    }
  }
}
/* پایان باکس حاوی اخبار فرهنگ */

/*شروع عنوان باکس های کوچیک */
.section-tittle {
  margin-bottom: 7px;

  .link__section-tittle {
    border-radius: 0 0 2px 2px;
    background-color: #e8e8e8;
    color: #666;
    font-family: yekan;
    font-size: 11px;
    line-height: 1;
    padding: 2px 10px 5px;
    margin-bottom: -2px;
    float: left;
    position: relative;
    bottom: -4px;
    &:hover {
      background: #555;
      color: #fff;
    }
  }
  h3 {
    color: #444;
    margin: 0;
    font-size: 15px;

    .link-h3__section-tittle {
      color: #444;
      font-size: 15px;
      font-family: nassim-bold;
      transition: all 0.3s ease-in-out;

      i {
        margin-left: 7px;
        font-size: 16px;
        top: 2px;
        position: relative;
      }
    }
  }
}
/* پایان عنوان باکس های کوچیک */

/* شروع دو باکس کوچک زیر عکس فرهنگ  */
.link__little-box-info {
  background: #fff;
  align-items: center;
  padding: 12px;
  max-height: 100px;
  overflow: hidden;
  border: 1px solid #dfdfdd;
  border-right: none;
  border-top: none;
  position: relative;
  display: block;

  .img-little-box-content {
    overflow: hidden;
    float: right;

    .image-little-box {
      width: 100%;
      transition: all 0.9s ease-in-out;
    }
  }
  .box-info-content {
    color: #222;
    padding-right: 8px;
    text-align: right;
    font-family: nassim;
    overflow: hidden;

    h3 {
      padding: 0;
      margin: 0 0 3px;
      font-size: 15px;
      color: #555;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    h2 {
      padding: 0;
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      font-family: nassim;
      border-bottom: 2px solid transparent;
      line-height: 1.34;
    }
  }

  &:hover h3 {
    color: #b71818;
  }
  &:hover h2 {
    color: #b71818;
  }
  &:hover .image-little-box {
    transform: scale(1.03);
  }
}
/* پایان دو باکس کوچک زیر عکس فرهنگ */

/*  شروع باکس خبری حاوی منو */
.news-menu-box {
  padding: 18px 0;
  .news-menu-box-header {
    border-top: 3px solid #555;
    padding: 1px 0 10px;

    .list-meun-content {
      margin-top: 10px;
      overflow: hidden;
      height: 22px;
      transition: all 0.3s ease-in-out;

      .news-menu-box-header-tittle {
        display: inline-block;

        .link__news-menu-box-tittle {
          color: #483d8b;
          font-family: nassim-bold;
          font-size: 20px;

          i {
            font-size: 16px;
            margin: 0 0 0 8px;
            position: relative;
            bottom: -2px;
          }
        }
        i {
          font-size: 14px;
          margin: 0 7px;
          position: relative;
          bottom: -2px;
          color: #483d8b;
        }
      }
      .list__news-menu-box-header {
        display: inline;
        li {
          display: inline-block;
          a {
            color: #333;
            font-size: 17px;
            font-family: "nassim";
            padding: 10px 8px;
          }
        }
      }
    }
    /* ایکون تنظیمات */
    .sittings {
      display: flex;
      margin-top: 5px;
      justify-content: left;

      .sitting-box {
        a {
          color: #666;
          padding: 6px 14.5px 8px;
          background: #e0e0e0;
          margin-right: 6px;
          display: inline-block;

          i {
            font-size: 16px;
          }

          &:hover {
            background: #333;
            color: #fff;
          }
        }
        .rss-orang-color:hover {
          background: #f90;
        }

        .btn-secondary {
          border: none;
          padding: 2px 13.5px 5px;
          border-radius: 0;
          &::after {
            display: none;
          }
        }
        .dropdown-sitting {
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 0;
          background: #fff;
          padding: 0;
          text-align: right;
          width: 220px;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          li {
            a {
              margin: 0;
              margin: 0;
              padding: 9px 8px 9.5px;
              background: #fff;
              color: #333;
              font-family: nassim;
              font-size: 17px;

              i {
                background: #222;
                color: white;
                border-radius: 100%;
                width: 22px;
                height: 22px;
                text-align: center;
                font-size: 14px;
                padding-top: 4px;
                margin-left: 5px;
              }

              &:hover {
                color: #222;
                background: #ddd;
              }
            }
          }
        }
      }
    }
  }

  /* اولین و آخرین ستون حاوی یک عکس با یک متن در زیر آن */
  .link__default-img {
    display: block;
    border: solid #dfdfdd;
    border-width: 0 0 1px 1px;
    background: #fff;
    padding: 3px;
    height: 100%;

    .default-right-img {
      overflow: hidden;
      position: relative;

      img {
        transition: all 0.9s ease-in-out;
        width: 100%;
      }
    }
    .content-box-info {
      color: #222;
      padding: 10px;
      overflow: hidden;

      h3 {
        margin: 0 0 3px;
        padding: 0;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: nassim;
        color: #555;
      }
      h2 {
        margin: 0;
        font-size: 23px;
        font-family: nassim-bold;
      }
    }
    &:hover img {
      transform: scale(1.02);
    }
  }
  .gif-box {
    background: none;
  }

  /* سه باکس خبری در یک ستون */
  .list__little-box-info {
    background: #fff;
    border: solid #dfdfdd;
    border-width: 0 0 1px 1px;

    li {
      padding: 0 12px;

      .little-box-info {
        border-left: none;
        padding-left: 0;
        padding-right: 0;

        .img-little-box-content {
          position: relative;
          .image-little-box {
            transform: scale(1);
          }
        }
      }

      .the-last-little-box {
        border: none;
      }
    }
  }

  /* باکس حاوی خبرهای تک خطی */
  .list__news-box {
    border-top: none;
    margin: 0;
    height: 100%;
    .link__news-box {
      padding: 8px 0 !important;
    }
  }

  &:hover .news-box-right {
    margin-right: -2px;
  }
}
/*  پایان باکس خبری حاوی منو */

// aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
.news-menu-box {
  .news-menu-box-header {
    border-top: 3px solid #555;
    padding: 1px 0 10px;

    .list-meun-content {
      margin-top: 10px;
      overflow: hidden;
      height: 23px;
      transition: all 0.3s ease-in-out;

      .news-menu-box-header-tittle {
        display: inline-block;

        .link__news-menu-box-tittle {
          color: #483d8b;
          font-family: nassim-bold;
          font-size: 20px;

          i {
            font-size: 16px;
            margin: 0 0 0 8px;
            position: relative;
            bottom: -2px;
          }
        }
        i {
          font-size: 14px;
          margin: 0 7px;
          position: relative;
          bottom: -2px;
          color: #483d8b;
        }
      }
      .list__news-menu-box-header {
        display: inline;
        li {
          display: inline-block;
          a {
            color: #333;
            font-size: 17px;
            font-family: "nassim";
            padding: 10px 8px;
          }
        }
      }
    }
    /* ایکون تنظیمات */
    .sittings {
      display: flex;
      margin-top: 5px;
      justify-content: left;

      .sitting-box {
        a {
          color: #666;
          padding: 6px 14.5px 8px;
          background: #e0e0e0;
          margin-right: 6px;
          display: inline-block;

          i {
            font-size: 16px;
          }

          &:hover {
            background: #333;
            color: #fff;
          }
        }
        .rss-orang-color:hover {
          background: #f90;
        }
      }
    }
  }

  &:hover .list-meun-content {
    margin-right: 5px;
  }
}

// zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
