/* ریسپانسیو در سایز 1200 پیکسل */
@media only screen and (max-width: 1210px) {
  .container {
    max-width: 1022px;
  }

  .nav__header-top,
  .danesh-logo {
    display: none;
  }

  .logo-and-nav__iran-news {
    margin: 0 !important;
    justify-content: right !important;

    .logo-econews {
      width: 23%;
    }
  }

  .nav__header-sub {
    overflow: auto;

    .list__header-sub {
      height: 36px;
      margin-right: 11px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .list__news-box {
    overflow: hidden;
    height: 401px;
  }

  .tag-list {
    height: 127px !important;
  }

  .box-info-slideshow-content h2 {
    font-size: 23px !important;
  }

  .title-td {
    font-size: 13px !important;
  }

  .list__footer-box-news li a {
    font-size: 12px !important;
  }
}

/* ریسپانسیو در سایز 992 پیکسل */
@media only screen and (max-width: 992px) {
  .container {
    max-width: 736px;
  }

  .form-login {
    right: 36% !important;
    top: 24% !important;
  }

  .header__iran-news {
    .nav__iran-news-red {
      display: none;
    }
  }

  .dropdown-toggle-hover {
    margin: 0;
    padding: 0;

    .dropdown-respansive {
      padding: 8px 16px;
      background: #313131;
    }
  }

  .rate-hover .list-item-rate {
    width: 49%;
  }

  .menu-area {
    li {
      display: inline-block;
      width: 49%;

      a {
        background: white;
        border-radius: 7px;
        overflow: hidden;
        padding: 5px;
        display: block;

        img {
          max-width: 100%;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  .a-parents:nth-child(6n+6) a {
    border-left: 1px solid #aaa !important;
  }
  .a-parents:nth-child(4n+4) a {
    border-left: none !important;
  }


  .title-td {
    font-size: 13px !important;
  }

  .chart {
    display: none;
  }

  .box-info-slideshow-content {
    padding: 9px !important;
  }

  .link__little-box-info {
    .box-info-content {
      h3 {
        font-size: 13px;
      }

      h2 {
        font-size: 14px;
      }
    }
  }

  .content-box-info {
    padding-bottom: 0;

    h2 {
      font-size: 19px !important;
    }
  }

  .news-box {
    height: 236px;

    .list__news-box {
      padding-top: 4px;

      a::before {
        font-size: 7px;
      }

      li:last-child a {
        border-bottom: none;
      }
    }
  }

  .link__footer-icon {
    margin: 0 3px !important;
  }

  .copy-right {
    flex-direction: column;
    padding: 22px 0;
    height: 100% !important;
    line-height: 24px;
  }
}

/* ریسپانسیو در سایز 768 پیکسل */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 736px;
  }

  .date {
    padding: 0 !important;

    .day,
    .clock {
      display: none;
    }
  }

  .login {
    margin: -10px !important;
    padding: 5px 6px 4px 8px !important;
  }

  .form-login {
    right: 2% !important;
  }

  .header-top-nav-left {
    width: 51%;
    display: block !important;

    .nav__header-top {
      display: block;
  
      .list__header-top {
        border-right: none !important;
        overflow: auto;
        width: 100%;
        white-space: nowrap;


        li {
          font-size: 11px !important;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .search-form {
      display: none !important;
    }
  }

  .a-parents:nth-child(4n+4) a {
    border-left: 1px solid #aaa !important;
  }
  .a-parents:nth-child(even) a {
    border-left: none !important;
  }


  .noroz-box {
    margin-top: 11.5rem;

    .tab-768px {
      display: none;
    }

    .noroz {
      display: none;
    }
  }

  .list__slideshow-wrapper {
    li {
      span {
        margin: 0 9px !important;
      }
    }
  }

  .clear-fix {
    display: flex;
    justify-content: space-between;

    .convert-chart-from,
    .convert-chart-to {
      width: 46%;
    }
  }

  .row__footer-top {
    text-align: center;
    margin: 0;

    .form-search {
      margin: 0;

      i {
        left: 37% !important;
      }

      .input__search {
        width: 100%;
        text-align: center !important;
      }
    }
  }

  .news-menu-box-header {
    padding: 0 !important;
    .list__news-menu-box-header {
      display: none !important;
    }
    .menu-mobile-show {
      display: block !important;
    }
  }

  .list__footer-box-news li a {
    font-size: 14px !important;
  }
}

/* ریسپانسیو در سایز 576 پیکسل */
@media only screen and (max-width: 576px) {
  .form-search i {
    display: none;
  }

  .col-lg-2.col-sm-6.col-md-3 {
    width: 50%;
  }

  .slideshow-wrapper {
    overflow: scroll;
  }

  .box-sm {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .box-none {
    display: none;
  }
}

/* ریسپانسیو در سایز 370 پیکسل */
@media only screen and (max-width: 405px) {
  .search-form {
    display: none;
  }
}